#modal-title, #modal-footer {
    font-family: 'Saira Semi Condensed', sans-serif;
}

.modal-from-button {
    box-sizing: border-box;
    display: inline-block;
    font-weight: 400;
    color: #333;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    background-color: rgba(104, 58, 183, 0.165) !important;
    box-shadow: 2px 3px 10px 0px #333 !important;
    border: 1px solid rgb(133, 127, 127) !important;
    margin-top: 8px;
    margin-left: 2px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .05rem !important;
    transition: all 250ms ease 0s;
}

.modal-from-button:focus {
    border: 1px solid rgb(133, 127, 127) !important;
    box-shadow: 2px 3px 8px 0px #333 !important;
}

.modal-from-button:active {
    box-shadow: 0 0 2px 0px #333 !important;
    background-color: rgba(104, 58, 183, 0.255) !important;
}