/* profolio project cards styling */
.portfolio-card-body{
    padding-top: 0px;
    padding-bottom: 0px;
}
  
  /* profolio project cards styling */
.portfolio-card-title {
    margin-top: 4px;
}

/* git hub repo link for portfolio cards */
.portlolio-link {
    /* VS Code Dracula Theme Background color */
    color: #2b2d3f;
}
  
.portlolio-link:hover {
    /* VS Code Dracula Theme text color */
    color: #FF79AA;
}